*{

}

.normal-font{
  font-size: 1.25rem;
  line-height: 1.875rem;
}

header {
    position: sticky;
    margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  background-color: white;

}


nav button {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  background-color: rgb(86, 123, 149);
  border-style: none;
  color: white;
  border-radius: 5px;
}

nav img {
  object-fit: cover;
  width: 250px;
  height: 100%;
}
main {
  margin-top: 100px;
}
.buttons_top{
  margin-right: 60px;
}

.main_picture_box h1{
  padding-left: 20%;
}

.main_picture_box {
  margin-top: 60px;
}
.main_picture_box img{
  height: 100%;
  width: 100%;
}

.main_picture_box a{
  text-decoration: none;
  color: #888;
}

.container-grid{
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.container-article{
  grid-column-start: 2;
}

.flex {
  display: flex;
}

.Center {
  margin: auto;
  width: 50%;
}

.Subscribe {
  text-align: center;
}
.Subscribe a {
  text-decoration: none;
}

hr {
  margin-left: 35%;
  margin-right: 35%;
  border: 0.5px solid #333;
}

.floating img{
  position: absolute;
  left: 450px;
  width: 50%;
}
